.cuadro-padre{
    background-color: rgb(230, 181, 163);
    height: 600px;
    
    display: flex;


    flex-direction: row;
    /* Permite alinear en horizontal */
    /* Recordar a word */
    justify-content: space-between;
    /*permite alinear en vertical*/
    align-items: center;

}



.cuadro{
    
    height:  150px;
    width:  150px;
    padding: 50px 40px 30px 20px;
    margin: 20px 40px;
    border: 10px solid yellow;
    border-radius:10px 20px 30px 40px;


    





}

.el-1{
    background-color: blue;
    align-self: flex-start;
    flex-grow: 10;
}
.el-2{
    background-color: red;
    flex-grow: 1;
   
    
   
}
.el-3{
    background-color: rgb(82, 215, 58);
    align-self: flex-end;
    flex-grow: 1;
}
.el-4{
    background-color: darkorange;
    flex-grow: 10;
 
}
/* .el-5{
    background-color: aqua;
    flex-grow: 5;
} */


/* INTRODUCCION A BOOTSTRAP */

.contenedor{
    height: 200px;
    background-color: rgb(160, 189, 190);
    /*cierta cantidad de pixeles  */
    max-width: 1500px;
    margin: 0 auto;

}

.fila{
    display: flex;
}

.columna{
    flex-grow: 1;
}




.color-rojo
{
    background-color: rgb(0, 255, 225);
}